{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} CTPE - Add Deals {% endblock title %}
{% block content %}
<h2>Add Deals</h2>
<div class="mb-4">
	{% crispy form %}
</div>
{% block jquery_include %}
<script type="text/javascript">
    $('.formset_row-{{ deals.prefix }}').formset({
        addText: 'Add Another Deal',
        addCssClass : 'btn btn-info btn-sm mb-4',
        deleteText: 'Remove Deal',
        deleteCssClass : 'btn btn-danger btn-sm mb-1 mt-2 h-10 align-bottom',
        prefix: '{{ deals.prefix }}',
    });
</script>
{% endblock jquery_include %}
{% endblock content %}