<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Eatbook Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/lib/css/solid.min.css">
  <link rel="stylesheet" href="static/lib/css/brands.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap" rel="stylesheet">
  <style>
    .font-lato{
      font-family: 'Lato', sans-serif;
    }
    .font-crimson-text{
      font-family: 'Crimson Text', serif;
    }
    .font-size-10{
      font-size: 10px;
    }
    .align-center{
      text-align: center;
    }

  </style>
</head>
<body>
  <div class="container-fluid px-0 vh-100 w-100 d-flex flex-column">

    <div class="row mx-0 w-100">
      <ul class="nav justify-content-left shadow-sm w-100 py-2 mb-1">
        <li class="nav-item">
          <span class="nav-link font-lato font-size-10" href="#">FOOD REVIEWS</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">FOOD GUIDES</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">BEHIND THE FOOD</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">FOOD NEWS</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">CHOPEDEALS</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">RECIPES</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">ABOUT</span>
        </li>
        <li class="nav-item font-lato font-size-10">
          <span class="nav-link" href="#">CONTACT</span>
        </li>
      </ul>
    </div>

    <div class="row d-flex mx-2 flex-row overflow-hidden " style="height:800px">

        <div class="col-md-2 h-100 overflow-auto pt-3">
          <p class="h3 font-lato  align-center"><strong>Categories</strong></p>
          <table class="table table-sm font-crimson-text">
            <tbody>
            <tr><td class="width-100 align-center">Bars</td></tr>
            <tr><th class="width-100 align-center"><a href="blog1.html">Bubble Tea</a></th></tr>
            <tr><td class="width-100 align-center">Buffet</td></tr>
            <tr><td class="width-100 align-center">Cafe Reviews</td></tr>
            <tr><td class="width-100 align-center">Chef Interviews</td></tr>
            <tr><td class="width-100 align-center">Chinese</td></tr>
            <tr><td class="width-100 align-center">ChopeDeals</td></tr>
            <tr><td class="width-100 align-center">Desserts</td></tr>
            <tr><td class="width-100 align-center">Fast Food</td></tr>
            <tr><td class="width-100 align-center">Food By Area</td></tr>
            <tr><td class="width-100 align-center">Food By Themes</td></tr>
            <tr><td class="width-100 align-center">Food Guides</td></tr>
            <tr><td class="width-100 align-center">Food News</td></tr>
            <tr><td class="width-100 align-center">Food Reviews</td></tr>
            <tr><td class="width-100 align-center">Fusion</td></tr>
            <tr><td class="width-100 align-center">Halal</td></tr>
            <tr><td class="width-100 align-center">Hawker Interviews</td></tr>
            <tr><td class="width-100 align-center">Hawker Reviews</td></tr>
            <tr><td class="width-100 align-center">Indian</td></tr>
            <tr><td class="width-100 align-center">Italian</td></tr>
            <tr><td class="width-100 align-center">Japanese</td></tr>
            <tr><td class="width-100 align-center">Korean</td></tr>
            <tr><td class="width-100 align-center">Malay</td></tr>
            <tr><td class="width-100 align-center">Mediterranean</td></tr>
            <tr><td class="width-100 align-center">Overseas Guides</td></tr>
            <tr><td class="width-100 align-center">Quizzes</td></tr>
            <tr><td class="width-100 align-center">Recipes</td></tr>
            <tr><td class="width-100 align-center">Restaurant Reviews</td></tr>
            <tr><td class="width-100 align-center">Singaporean</td></tr>
            <tr><td class="width-100 align-center">Site Articles</td></tr>
            <tr><td class="width-100 align-center">Supper</td></tr>
            <tr><td class="width-100 align-center">Thai</td></tr>
            <tr><td class="width-100 align-center">Tiger Street Food</td></tr>
            <tr><td class="width-100 align-center">Vietnamese</td></tr>
            <tr><td class="width-100 align-center">Western</td></tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-7 h-100 overflow-auto pt-3" >
          <h1 class="font-lato"><strong>Check out these Taiwanese food places</strong></h1>

          <p>I’ve never been to Taiwan and I long to trawl through their night markets for local delights like mee sua and beef cubes. It doesn’t help to have friends who are constantly raving about their trips to Taiwan and all the local street food they stuffed themselves with. If you are in the same boat as me or wish to reminisce about your past travels, check out this curated list of <strong>Taiwanese food in Singapore</strong>!</p>
          <hr>
          <h3><b>1. Eat3Bowl</b></h3>
          <hr>
          <p>From Jay Chou songs playing in the background to their classroom-themed setting, <b>Eat3Bowl</b> ambience will make you feel like you’re a Taiwanese student. Look at their textbook menu, and you can find typical dishes such as <b>Oyster Intestine Mee Sua ($6.50)</b> and <b>Braised Pork Rice ($4.50)</b>. If you want a bite of everything, opt for their <b>Signature 3 Bowls with Drink ($15)</b> set which includes the mee sua, lu rou fan, and chicken rice.</p>

          <p>Check out our full review of <a href="https://eatbook.sg/eat-3-bowls/">Eat3Bowl</a>!</p>
          <p>Address: 462 Crawford Lane, #01-61, Singapore 190462<br />
          Opening hours: Tue-Sun 10am to 9pm<br />
          Tel: 9022 7469<br />
          <a href="https://www.facebook.com/eat3bowls/" target="_blank" rel="noopener noreferrer">Website</a> </p>
          <hr>
          <h3><b>2. Feng Food</b></h3>
          <hr>
          <p>You might question your loyalty to Din Tai Fung after a visit to <b>Feng Food </b>at Yishun. Their <b>Fried Rice with Specialty Marinated Pork Chop ($11.80+)</b> looks and tastes similar to the one served at Din Tai Fung, though with a lack of wok hei. Try their <b>Shrimp &amp; Pork Wontons with Hot &amp; Spicy Sauce ($6.80+)</b>. Each wonton is packed with shrimp and minced meat, providing a savoury balance to the spicy and tangy sauce.</p>
          <p>Check out our full review of <a href="https://eatbook.sg/feng-food/">Feng Food</a>! </p>
          <p>Address: 930 Yishun Avenue 2, #B1-156, Northpoint City, Singapore 769098<br />
          Opening hours: Mon-Fri 11:30am to 9:15pm, Sat-Sun 11am to 9:30pm<br />
          Tel: 6481 8556<br />
          <a href="https://www.facebook.com/fengfoodsg/" target="_blank" rel="noopener noreferrer">Website</a> </p>
          
        </div>
        <div class="col-md-3 h-100 overflow-auto pt-3">
          <p class="h3 font-lato"><strong>About Us</strong></p>
          <p class="h5 font-crimson-text">Eatbook offers honest reviews and recommendations on Singapore food.</p>
          <hr class="mb-3">
          <p class="h3 font-lato"><strong>Social Media</strong></p>
          <p class="h5"><i class="fab fa-instagram"></i> hi</p>
        </div>
    </div> 

  </div>
  <script src="static/lib/js/jquery.min.js"></script>
  <script src="static/lib/js/popper.js"></script>
  <script src="static/lib/js/bootstrap.min.js"></script>
</body>
</html>